.bg{
    background: url("../../bg2.jpg") no-repeat top left;
    background-size: contain;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-right: 0px;
    padding-left: 0px;
}
.activeClass{
    /*color: red;*/
}
.row{
    background-color: rgba(255,255,255,0.2);
}