.footer {
  font-size: 0.25rem;
  min-height: 0.5rem;
  height: 5%;
  background: linear-gradient(60deg, #b1b1b1, #2f4052); /* 角度 */
  border-top-left-radius: 20% 1rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.38);
  text-align: center;
  overflow: auto;
}

.footer .github {
  min-height: 0.25rem;
  float: right;
  margin: 0.25rem 0.25rem;
}

.footer .logo {
  min-height: 0.25rem;
  float: right;
  margin: 0.25rem 0 0.25rem 0.25rem;
  -webkit-animation: rotation 15s linear infinite;
  animation: rotation 15s linear infinite;
}

.footer #motto {
  text-align: center;
  font-size: 0.2rem;
  color: #b1b1b1;
  min-height: 0.25rem;
  float: right;
  margin: 0.25rem 0.25rem;
}


#footer-time {
  float: right;
  min-height: 0.25rem;
  margin: 0.25rem 0.25rem;
  text-align: center;
  font-size: 0.2rem;
  color: #b1b1b1;
  animation: time 5s ease-in-out infinite alternate;
}