.header {
  font-size: 0.25rem;
  min-height: 0.5rem;
  height: 5%;
  background: linear-gradient(-120deg, #b1b1b1, #2f4052); /* 角度 */
  border-bottom-right-radius: 20% 1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.38);
  text-align: center;
  overflow: auto;
}

.header .github {
  min-height: 0.25rem;
  float: left;
  margin: 0.25rem 0.25rem;
}

.header .logo {
  min-height: 0.25rem;
  float: left;
  margin: 0.25rem 0.25rem 0.25rem 0;
  -webkit-animation: rotation 15s linear infinite;
  animation: rotation 15s linear infinite;
}

.header #motto {
  text-align: center;
  font-size: 0.2rem;
  color: #b1b1b1;
  min-height: 0.25rem;
  float: left;
  margin: 0.25rem 0.25rem;
}

#header-time {
  float: left;
  min-height: 0.25rem;
  margin: 0.25rem 0.25rem;
  text-align: center;
  font-size: 0.2rem;
  color: #b1b1b1;
  animation: time 5s ease-in-out infinite alternate;
}