* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html {
  height: 100%;
}

body {
  height: 100%;
  /* body 默认 8px */
  margin: 0;
  background-color: #f6f9fc;
}

h1 {
  font-size: 0.75rem;
  text-align: center;
}

h2 {
  font-size: 0.65rem;
  text-align: center;
}

h3 {
  font-size: 0.55rem;
  text-align: center;
}

h4 {
  font-size: 0.45rem;
  text-align: center;
}

h5 {
  font-size: 0.35rem;
  text-align: center;
}

h6 {
  font-size: 0.25rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.1rem;
  opacity: 1;
}

.container {
  height: 100%;
}

.main {
  font-size: 0.2rem;
  margin: 0;
  //padding: 5% 5% 0 5%;
  width: 100%;
  height: 100%;
  background-color: #f6f9fc;
  /* 加滚动条 限制内容超出组件范围 */
  overflow: auto;
}

/* 隐藏所有滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* index page */
.card {
  float: left;
  width: 20%;
  min-height: 60%;
  border: 0.05rem dashed rgba(43, 32, 100, 0.38);
  margin: 0.3rem auto 0.15rem 2.5%;
  padding: 0.2rem;
  /* 右移 下移 模糊 扩大*/
  box-shadow: -0.075rem -0.05rem 0.1rem 0.05rem #2f4052;
  border-radius: 0.2rem;
  /* 宽度超过组件宽度 自动换行*/
  word-wrap: break-word;
  word-break: break-all;
  background-color: #2f405210;
}

ul {
  margin: 0.3rem;
  font-size: 0.25rem;
  text-align: left;
  list-style-type: circle;
  list-style-position: inside;
}

a:link {
  color: #148982;
}

a:visited {
  color: #444444;
}

a:hover {
  color: rgba(165, 40, 73, 0.38);
}

a:active {
  color: #aa7ecd;
}

a {
  text-decoration-line: none;
}


/* blog page*/
.docs {
  float: left;
  font-size: 0.2rem;
  margin: 0;
  //padding: 0.2rem 5% 0 5%;
  width: 75%;
  height: 88%;
  background-color: #f6f9fc;
  /* 加滚动条 限制内容超出组件范围 */
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
}



